# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/
.jupyter/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Sandbox
sandbox/

# Data
data/

# output
output/
